version: '3.8'

services:
  web:
    build: .
    ports:
      - "5001:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/flask_db
    depends_on:
      - db
    restart: on-failure

  db:
    image: ankane/pgvector:v0.5.0  # Официальный образ с pgvector
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=flask_db
    volumes:
      - postgres_data:/var/lib/postgresql/data1
    ports:
      - "5432:5432"

volumes:
  postgres_data:
